@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.woff');
	src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Regular.woff') format('woff'),
	url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Black';
	src: url('../fonts/Roboto-Black.woff');
	src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Black.woff') format('woff'),
	url('../fonts/Roboto-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html, body {
	margin: 0;
	min-width: 320px;
	font-family: Roboto-Regular;
}

.header {background-color: #fbfbfb;}

.container {
	width: 1210px;
	padding: 0 20px;
	margin: 0 auto;
	box-sizing: border-box;
}

.header-top {
	padding-top: 26px;
	display: flex;
	justify-content: space-between;
	margin-left: 0px;
}

.burger-icon {
	display: none;
	margin-top: 1px;
	margin-left: 20px;
}

.burger-icon span {
	display: block;
	height: 7px;
	width: 45px;
	background: linear-gradient(to top, #f09308, #ff2f96);
}

.burger-icon span:nth-child(2) {margin: 6px 0;}

.menu__nav {
	display: flex;
	list-style: none;
	margin-top: 14px;
	padding-left: 0;
}

.menu__nav a {
	text-decoration: none;
	font-weight: 400;
	font-size: 16px;
	color: black;
	padding-right: 32px;
	line-height: 26px;
	background: linear-gradient(currentColor, currentColor) 0% 100% no-repeat;
	background-size: 0 1px;
	transition: background 250ms ease 0s;
    text-decoration: none;
}

.menu__nav a:hover {
	background-size: 75% 1px;
	color: #fc557c;
}

.header-top__communication {display: flex;}

.phone-number-link {
	margin-right: 30px;
	padding-top: 10px;
	letter-spacing: 0.5px;
	cursor: pointer;
	text-decoration: none;
	color: black;
	font-family: Roboto-Regular;
	font-size: 25px;
	font-weight: bold;
	transition: background 300ms ease 0s;
}

.phone-number-link:hover {color: #77506E;}

.header-phone-icon {display: none;}

.get-call-btn {
	font-size: 16px;
	color: #f53f4f;
	border: 1px solid #f82370;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	background: transparent;
	margin-top: 3px;
	transition: all 300ms ease;
}

.get-call-btn:hover {
	background: #ff4e2e;
    color: white;
}

.header-btn {
	width: 207px;
	height: 47px;
} 

.main-block {
	background-color: #fbfbfb;
	position: relative;
}

.main-width {width: 1380px;}

.main-subcontainer {display: flex;}

.svg-content {
	position: absolute;
	right: 0;
}

.svg-content-tablet {
	display: none;
	position: absolute;
	right: 0;
}

.svg-content-mobile {
	display: none;
	position: absolute;
	right: 0;
}

.main-left {
	width: 750px;
	margin-left: 85px;
	z-index: 5;
}

.main-right {
	height: 637px;
	width: 435px;
	padding-top: 47px;
	margin-left: 85px;
	z-index: 10;
}

.main-left__name {
	margin: 225px 0 0 0px;
	font-family: Roboto-Black;
	font-size: 80px;
	line-height: 56px;
}

.main-left__profession {
	font-family: Roboto-Regular;
	font-size: 25px;
	font-weight: 400;
	color: #8993ad;
}

.main-left__info-btn {
	margin: 33px 0 237px 0px;
}

.skills-section__price-btn {
	display: flex;
    align-items: center;
	justify-content: center;
	margin: 70px auto 0 auto;
}

.order-project-btn {
	display: flex;
    align-items: center;
	justify-content: center;
	margin: 73px auto 70px auto;
}

.skills-section__title {
	font-size: 54px;
	font-weight: 700;
	padding-top: 87px;
	margin: 0 auto;
	text-align: center;
}

.skills-block {
	display: flex;
	justify-content: space-between;
	padding-top: 88px;
}

.skills-block__item {width: 260px;}

.skills-block__item:nth-child(2) {
	width: 290px;
	margin-left: 7px;
}

.skills-block__item:nth-child(3) {width: 220px;}

.skills-block__item:nth-child(4) img {margin-left: 100px;}

.skills-block__item:nth-child(4) p {margin-left: 10px;}

.services-item__text {
	color: #8993ad;
	font-size: 20px;
	line-height: 30px;
	margin-top: 19px;
	text-align: center;
}

.services-item__img {
	display: block;
	margin: 0 auto;
}

.portfolio-section {
	background-color: #fbfbfb;
	margin-top: 103px;
	padding-bottom: 32px;
}

.portfolio-section__title {
	font-size: 54px;
	font-weight: 700;
	padding-top: 90px;
	padding-bottom: 99px;
	letter-spacing: 0.5px;
	margin: 0 auto;
	text-align: center;
}

.portfolio-block {position: relative;}

.project-item__img {transition: all 500ms ease;}

.project-item__img:hover {opacity: 0.6;}

/*Левая кнопка в блоке проектов*/

.swiper-button-prev::after {display: none;} 

.swiper-button-prev {
	position: absolute;
	top: 395px;
	left: -11px;
	box-shadow: 0 0 20px 5px rgba(221, 221, 221, 1);
	border: none;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background-color: white;
	cursor: pointer;
	transition: all 500ms ease;
	outline: none;
}

.swiper-pagination {display: none;}

.swiper-button-prev:hover {box-shadow: 0 0 3px 5px rgba(221, 221, 221, 1);}

/*Правая кнопка в блоке проектов*/

.swiper-button-next::after {display: none;} 

.swiper-button-next {
	top: 395px;
	left: 1160px;
	position: absolute;
	transform: rotate(180deg);
	box-shadow: 0 0 20px 5px rgba(221, 221, 221, 1);
	border: none;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background-color: white;
	cursor: pointer;
	transition: all 500ms ease;
	outline: none;
}

.swiper-button-next:hover {box-shadow: 0 0 3px 5px rgba(221, 221, 221, 1);}

.projects-container {
	margin-top: 99px;
	display: flex;
	justify-content: space-between;
}

.projects-container__block a {transition: all 500ms ease;}

.projects-container__block a:hover {opacity: 0.5;}

.project-item__title {
	font-size: 20px;
	line-height: 30px;
	margin-top: 26px;
	text-align: center;
}

.project-title-link {
	text-decoration: none;
	color: #8993ad;
	transition: all 500ms ease;
}

.project-title-link:hover {color: #77506E;}

.banner-section {background: linear-gradient(to right top, #ff8f5a, #ff2f96);}

.banner {width: 985px;}

.banner__text {
	color: white;
	font-size: 45px;
	padding-top: 75px;
	font-weight: 700;
	margin: 0;
	letter-spacing: 0.3px;
	line-height: 60px;
}

.banner__comment {
	color: white;
	width: 750px;
	font-size: 18px;
	font-weight: 400;
	text-indent: -15px;
	padding-left: 15px;
	padding-top: 11px;
	padding-bottom: 80px;
	line-height: 30px;
	letter-spacing: 0.1px;
	margin: 18px 0 0 0;
}

.nav-list {
	margin-top: 80px;
	padding-left: 0;
	list-style: none;
}

.nav-list li {margin-bottom: 7px;}

.nav-list a {
	text-decoration: none;
	color: #8993ad;
	font-family: Roboto-Regular;
	font-size: 18px;
	line-height: 26px;
	background: linear-gradient(currentColor, currentColor) 0% 100% no-repeat;
	background-size: 0 1px;
	transition:background 250ms ease 0s;
    text-decoration: none;
}

.nav-list a:hover {
	background-size: 100% 1px;
	color: #fc557c;
}

.footer__contacts {
	margin-top: 68px;
	margin-left: 305px;
}

.footer__position {display: flex;}

.contacts__phonenumber {
	text-decoration: none;
	color: black;
	font-family: Roboto-Regular;
	font-size: 25px;
	font-weight: 400;
	line-height: 59.73px;
	margin-left: 18px;
	transition:background 300ms ease 0s;
}

.contacts__phonenumber:hover {color: #77506E;}

.contacts__address {
	text-decoration: none;
	color: black;
	font-family: Roboto-Regular;
	font-size: 25px;
	font-weight: 400;
	line-height: 59.73px;
	padding-left: 22px;
	transition:background 300ms ease 0s;
}

.contacts__address:hover {color: #77506E;}

.footer-btn {padding: 12px 63px 13px 60px;} 

.footer__social {
	margin-top: 75px;
	margin-left: 215px;
}

.social__links {
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
	width: 192px;
	padding-left: 0;
	transition: all 500ms ease;
	margin-top: 30px;
}

.social__links a:hover {opacity: 0.5;}

.link-vk {
	background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    width: 35px;
    height: 21px;
    background-position: -5px -113px;
}

.link-facebook {
	background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    width: 16px;
    height: 35px;
    background-position: -5px -5px;
}

.link-twitter {
	background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    width: 29px;
    height: 25px;
    background-position: -5px -78px;
}

.link-instagram {
	background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    height: 25px;
    background-position: -5px -43px;
}

.footer__bottom {
	margin-top: 58px;
	background-color: #31293c;
}

.bottom__text {
	padding: 9px 0 10px 0;
	font-size: 16px;
	line-height: 59.73px;
	color: white;
	margin: 0 auto;
	width: 300px;
	text-align: center;
}

/* Всплывающее окно */

.popup-container {
	display: none;
	position: fixed;
	top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0; 
	z-index: 12;
	background-color: rgba(0, 0, 0, .8);
}

.popup {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 550px;
	background-color: white;
	border: 1px solid grey;
	border-radius: 10px;
	overflow: auto;
	font-size: 14px;
}

.popup-text {
	padding: 10px 10px 0 10px;
	text-align: center;
	margin-bottom: 40px;
}

.popup__input-container {
	display: flex;
	justify-content: space-between;
	width: 280px;
	margin: 0 auto 20px auto;
	align-items: center;
}

.popup__input-container span {
	width: 250px;
	vertical-align: middle;
}

.popup__input-container textarea::-webkit-input-placeholder {
	font-size: 14px;
	font-family: Roboto-Regular;
}

.popup__input-container input {
	border: 0;
  	border-bottom: 1px solid #555;  /*цвет черты над которой текст*/	
	background: transparent;
	width: 100%;
	padding: 3px 0 2px 0;
	font-size: 16px;
	color: grey; /*цвет вводимого шрифта*/
	outline: none;
}

.form__btn {
	display: block;
	color: #fff;
	background-color: #ff4e2e;
	outline: none;
    border: none;
	padding: 10px 20px;
	text-transform: uppercase;
	margin: 40px auto 0 auto;
	cursor: pointer;
	border-radius: 5px;
	transition: all 300ms ease;
}

.form__btn:hover {
	background: #D82B03;
    color: #fff;
}

.form__close {
	background: #fff;
	border: 1px solid #ff4e2e;
	color: #ff4e2e;
}

.form__close:hover {
	background: #ff4e2e;
    color: #fff;
}

/* Конец всплывающего окна */

.popup-btn {
	font-size: 18px;
	outline: none;
	color: #fff;
	border: none;
	cursor: pointer;
	text-decoration: none;
	background-color: #ff4e2e;
	width: 270px;
	height: 60px;
	transition: all 500ms ease;
}

.popup-btn:hover {
	background: #D82B03;
    color: #fff;
}

/* Меню при адаптации */

.mobile-container {
	display: none;
	position: fixed;
	top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0; 
	z-index: 12;
	background-color: rgba(0, 0, 0, .8);
}

.header-mobile {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 200px;
	background-color: transparent;
	border: 1px solid grey;
	border-radius: 10px;
	overflow: auto;
	font-size: 14px;
}

.close-icon {
	width: 18px;
	padding-top: 12px;
}

.close-icon span {
	position: absolute;
	top: 20px;
	left: 270px;
	display: block;
	height: 1px;
	width: 20px;
	background-color: orangered;
}

.close-icon span:first-child {transform: rotate(45deg);}

.close-icon span:last-child {transform: rotate(-45deg);}

.mobile-list {
	padding-left: 25px;
	margin-top: 0px;
	padding-top: 35px;
	list-style-type: none;
	padding-left: 0;
	font-size: 18px;
}

.mobile-list li {
	text-align: center;
	padding-bottom: 10px;
	letter-spacing: -0.36px;
	padding-top: 9px;
	margin: 0 auto;
	border-bottom: 1px solid lightgrey;
	width: 120px;
}

.mobile-list li:last-child {border-bottom: none;} 

.mobile-list a {
	text-decoration: none;
	color: white;
	transition: background 300ms ease;
	outline: none;
}

.mobile-list a:hover {color: orangered;} 

.swal-button-container button {
	background: orangered;
}

/* Конец меню при адаптации */

.flying-common {
	font-weight: 900;
	background: linear-gradient(to right top, #ff8f5a, #ff2f96);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	position: absolute;
	z-index: 11;
}

.flying-div-small {
	animation: small 3s;
	font-size: 36px;
	top: 10%;
	left: 30vw;
	transform: rotate(-30deg);
}

@keyframes small {
	0% {transform: translate(12vw, 20vh) rotateX(-70deg);}
	20% {transform: translate(30vw, 40vh) rotateX(50deg) rotateY(-134deg);}
	80% {transform: translate(-30vw, 20vh) rotateX(130deg) rotateY(20deg);}
	100% {transform: translate(-12vw) rotateY(-220vh);}	
}

.flying-div-big {
	font-size: 48px;
	top: 70%;
	left: 50vw;
	transform: rotate(50deg);
	animation: big 3s;
}

@keyframes big {
	0% {transform: translate(5vw, -20vh);}
	40% {transform: translate(10vw, -30vh) rotateX(260deg) rotateY(-80deg);}
	60% {transform: translate(20vw, 15vh) rotateX(-800deg) rotateY(20deg);}
	95% {transform: translate(-5vw, -15vh) rotateX(300deg) rotateY(-300deg);}
	100% {transform: translate(40vw, 10vh);}
}

.flying-curly-brace {
	animation: curly 3s;
	font-size: 48px;
	top: 10%;
	left: 55vw;
	transform: rotate(80deg);
}

@keyframes curly {
	0% {transform: translate(-10vw, 20vh) rotateX(50deg);}
	15% {transform: translate(-30vw, -10vh) rotateX(-250deg) rotateY(80deg);}
	45% {transform: translate(50vw, 40vh) rotateX(130deg) rotateY(20deg);}
	100% {transform: translate(20vw);}
}

.flying-sharp {
	animation: sharp 3s;
	font-size: 48px;
	top: 70%;
	left: 30vw;
	transform: rotate(-70deg);
}

@keyframes sharp {
	0% {transform: translate(10vw, -10vh);}
	18% {transform: translate(40vw, -50vh) rotateX(60deg) rotateY(-280deg);}
	47% {transform: translate(60vw, -20vh) rotateX(-800deg) rotateY(20deg);}
	70% {transform: translate(40vw, -10vh) rotateX(300deg) rotateY(-300deg);}
	100% {transform: translate(10vw);}
}

.flying-lessmore {
	animation: lessmore 3s;
	font-size: 48px;
	top: 10vh;
	left: 5vw;
	transform: rotate(-110deg);
}

@keyframes lessmore {
	0% {transform: translate(5vw, 20vh) rotateX(-70deg);}
	28% {transform: translate(50vw, -10vh) rotateX(50deg) rotateY(-134deg);}
	55% {transform: translate(-5vw, 40vh) rotateX(130deg) rotateY(20deg);}
	100% {transform: translate(10vw) rotateY(-220deg);}	
}

.banner__flying-div-small {
	color: white;
	font-weight: 900;
	z-index: 11;
	font-size: 24px;
	position: absolute;
	top: 2280px;
	left: 2vw;
	animation: small-banner 3s;
	transform: rotate(-30deg);
}

@keyframes small-banner {
	0% {transform: translateX(1vw) translateY(10px);}
	35% {transform: translateX(80vw) translateY(10px) rotateX(-50deg) rotateY(-80deg);}
	75% {transform: translateX(70vw) translateY(280px) rotateX(130deg) rotateY(20deg);}
	100% {transform: translateX(0vw) translateY(-20px);}
}

.banner__flying-div-big {
	font-size: 48px;
	color: white;
	position: absolute;
	top: 2550px;
	left: 90vw;
	animation: big-banner 3s;
	transform: rotate(50deg);
}

@keyframes big-banner {
	0% {transform: translateX(0vw) translateY(0px);}
	21% {transform: translateX(-50vw) translateY(-150px) rotateX(-50deg) rotateY(260deg)}
	63% {transform: translateX(-30vw) translateY(-250px) rotateX(130deg) rotateY(20deg)}
	100% {transform: translateX(0vw) translateY(10px);}
}

.banner__flying-curly-brace {
	font-size: 52px;
	color: white;
	position: absolute;
	top: 2280px;
	left: 90vw;
	animation: curly-banner 3s;
	transform: rotate(80deg);
}

@keyframes curly-banner {
	0% {transform: translateX(0vw) translateY(0px);}
	10% {transform: translateX(-5vw) translateY(280px) rotateX(-150deg) rotateY(260deg)}
	40% {transform: translateX(-70vw) translateY(280px) rotateX(130deg) rotateY(20deg)}
	100% {transform: translateX(0vw) translateY(0px);}
}

.banner__flying-sharp {
	font-size: 52px;
	color: white;
	position: absolute;
	top: 2590px;
	left: 10vw;
	animation: sharp-banner 3s;
	z-index: 5;
	transform: rotate(-20deg);
}

@keyframes sharp-banner {
	0% {transform: translateX(0vw) translateY(0px);}
	20% {transform: translateX(20vw) translateY(-250px) rotateX(50deg) rotateY(120deg);}
	45% {transform: translateX(60vw) translateY(-100px) rotateX(130deg) rotateY(20deg);}
	100% {transform: translateX(0vw) translateY(0px);}
}

.banner__flying-lessmore {
	font-size: 52px;
	color: white;
	position: absolute;
	top: 2540px;
	left: 50vw;
	animation: lessmore-banner 3s;
	z-index: 5;
	transform: rotate(-20deg);
}

@keyframes lessmore-banner {
	0% {transform: translateX(0vw) translateY(0px);}
	30% {transform: translateX(-20vw) translateY(-240px) rotateX(50deg) rotateY(120deg)}
	80% {transform: translateX(30vw) translateY(-30px) rotateX(130deg) rotateY(20deg)}
	100% {transform: translateX(5vw) translateY(-10px);}
}

.error {border: 2px solid red !important;}

@media (max-width: 1400px) {

	.header-top {padding-top: 35px;}

	.main-width {width: 100%;}
	
	.container {width: 100%;}

	.swiper-button-prev	{display: none;}

	.swiper-button-next {display: none;}

	.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet  {
		background-color: #FF4E2E;
		width: 18px;
		height: 18px;
		margin: 0 15px;
	}

	.swiper-pagination {
		display: block;
		position: relative;
		margin-top: 85px;
	}

	.swiper-slide {text-align: center;}

	.banner__text {
		margin: 0 auto;
		width: 85%;
	}

	.banner__comment {
		margin: 18px auto 0 auto;
		width: 85%;
	}

	.nav-list {margin-left: 70px;}

	.footer__contacts {margin: 74px 0 0 150px;}

	.footer__position {justify-content: space-between;}

	.banner__flying-div-small {top: 2430px;}

	.banner__flying-div-big {top: 2650px;}

	.banner__flying-curly-brace {top: 2400px;}

	.banner__flying-sharp {top: 2680px;}

	.banner__flying-lessmore {top: 2645px;}

	.main-subcontainer {justify-content: flex-start;}

	.main-left__name {
		margin-top: 242px;
		margin-left: 10px;
		margin-bottom: 0;
		letter-spacing: .5px;
		font-size: 53px;
	}

	.main-left {
		margin-left: 10px;
		width: 900px;
	}

	.main-right {
		margin-left: 0;
		padding-top: 57px;
		padding-right: 20px;
	}

	.header-btn {
		margin-right: 20px;
		font-size: 17px;
	}

	.get-call-btn {margin-top: -6px;}

	.main-left__info-btn {margin: 33px 0 0 10px;}

	.popup-btn {
		width: 321px;
		height: 68px;
	}

	.svg-content {display: none;}

	.svg-content-tablet {
		display: block;
		position: absolute;
		right: 0;
	}

	.main-left__profession {font-size: 24px;}

	.burger-icon {display: block;}

	.menu__nav {display: none;}

	.skills-section__title {
		margin: 0 40px  0 13px;
		padding-top: 85px;
		letter-spacing: 0.5px;
	}

	.skills-section__price-btn {margin-top: 14px;}

	.skills-block {
		width: 58%;
		width: 100%;
		margin: 0 auto;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.services-item {padding-bottom: 59px;}

	.skills-block__item:nth-child(1) img {margin-right: 92px;}

	.skills-block__item:nth-child(1) p {
		margin-top: 17px;
		padding-right: 3px;
	}

	.skills-block__item:nth-child(2) img {margin-left: 115px;}

	.skills-block__item:nth-child(2) p {
		margin-top: 17px;
		padding-left: 15px;
	}
		
	.skills-block__item:nth-child(3) img {
		margin-right: 45px;
		margin-left: 91px;}

	.skills-block__item:nth-child(3) p {
		margin-top: 17px;
		padding-left: 20px;
		width: 215px;
	}

	.skills-block__item:nth-child(4) img {margin-left: 88px;}

	.skills-block__item:nth-child(4) p {
		margin-top: 17px;
		margin-left: 0;
		width: 252px;
	}

	.order-project-btn {margin: 88px auto 69px auto;}

	.mobile-menu {
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 20;
		width: 100%;
		height: 100vh;
		background-color: white;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s, visibility 0.3s;
	}

}

@media (max-width: 1140px) {

	.phone-number-link {padding-top: 0;}

	.skills-block {
		width: 66%;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.swiper-container {width: 970px;}

	.project-item__img {width: 458px;}

	.project-item__title {
		margin-top: 14px;
		font-size: 25px;
	}

	.banner__text {width: 96%;}

	.banner__comment {
		width: 78%;
		margin: 18px 20px;
	}
	
	.footer__social {margin: 88px 20px 0 0}
	
	.nav-list {
		margin-top: 85px;
		margin-left: 20px;}

	.footer__contacts {margin: 74px 0 0 50px;}
	
	.banner__flying-div-small {top: 2710px;}

	.banner__flying-div-big {top: 2950px;}

	.banner__flying-curly-brace {top: 2740px;}

	.banner__flying-sharp {top: 3000px;}

	.banner__flying-lessmore {top: 3010px;}

}

@media (max-width: 1024px) {

	.portfolio-section {margin-top: 101px;}

	.services-item {padding-bottom: 59px;}

	.flying-sharp {left: 10vw;}

	.flying-div-big {left: 35vw;}

	.banner__flying-div-small {
		top: 2750px;
		font-size: 18px;
	}

	.banner__flying-div-big {
		top: 3000px;
		font-size: 22px;
	}

	.banner__flying-curly-brace {
		top: 2700px;
		font-size: 22px;
	}

	.banner__flying-lessmore {
		top: 330vh;
		font-size: 22px;}

	.footer__bottom {margin-top: 59px;}

	.banner__flying-sharp {top: 2970px;}

	.banner__flying-lessmore {top: 3020px;}
	
}

@media (max-width: 1015px) {

	.header-top {padding-top: 30px;}

	.burger-icon {margin-top: 0px;}

	.burger-icon span {
		height: 2px;
		width: 24px;
	}

	.header-phone-icon i {font-size: 12px;}

	.main-left__name {
		margin-left: 0;
		font-size: 45px;
		margin-top: 100px;
	}

	.main-left__profession {font-size: 20px;}

	.image-of-men {width: 270px;}

	.main-right {
		padding-top: 20px;
		padding-right: 0;
		height: 100%;
	}

	.main-left__info-btn {
		margin-top: 33px;
		width: 281px;
		height: 56px;
	}

	.svg-content-tablet {display: none;}

	.svg-content-mobile {display: block;}

	.skills-section__title {
		padding-top: 40px;
		letter-spacing: 0.5px;
		font-size: 30px;
		margin: 0 auto;
	}

	.skills-block {
		padding-top: 44px;
		width: 80%;	
	}

	.services-item__img {width: 62px;}

	.services-item__text {
		font-size: 16px;
		line-height: 20px;
	}

	.skills-section__price-btn {
		width: 280px;
		height: 55px;
		margin-top: 3px;
		font-size: 17px;
	}

	.skills-block__item:nth-child(3) img {
		margin-right: 0px;
		margin-left: 105px;
	}

	.portfolio-section__title {
		font-size: 30px;
		padding-top: 43px;
		padding-bottom: 39px;
		line-height: 36px;
	}

	.project-item__img {
		height: 252px;
		width: 283px;}

	.swiper-container {width: 590px;}

	.project-item__title {
		margin-top: 8px;
		font-size: 18px;
		text-align: center;
	}

	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
	}

	.swiper-pagination {margin-top: 26px;}

	.order-project-btn {
		margin: 37px auto 0 auto;
		width: 280px;
		height: 55px;
		font-size: 17px;
	}

	.portfolio-section {
		margin-top: 51px;
		padding-bottom: 51px;
	}

	.banner__text {
		font-size: 27px;
		letter-spacing: 0.6px;
		line-height: 40px;
		padding-top: 42px;
		width: 100%;	
	}

	.banner__comment {
		margin: 21px 0 0 0;
		font-size: 15px;
		width: 95%;
		text-indent: -15px;
		padding: 11px 0 42px 15px;
	}

	.nav-list a {font-size: 15px;}

	.nav-list {margin: 42px 20px 0 0;}

	.footer__contacts {margin: 30px 0 0 50px;}
	
	.contacts__phonenumber {
		font-size: 20px;
		margin-left: 14px;
	}

	.contacts__phonenumber i {font-size: 34px;}

	.contacts__address {font-size: 20px;}

	.footer__social {margin: 55px 0 0 0}

	.social__links {
		margin-top: 49px;
		margin-bottom: 0;;
	}

	.bottom__text {
		font-size: 12px;
		padding: 10px 0 8px 0;
		line-height: 32px;
	}

	.footer__bottom {margin-top: 44px;}

	.flying-div-small {font-size: 18px;}

	.flying-div-big {
		top: 80%;
		font-size: 24px;
	}

	.flying-curly-brace {font-size: 26px;}

	.flying-sharp {
		top: 75%;
		font-size: 26px;
	}

	.flying-lessmore {
		top: 15%;
		font-size: 26px;
	}

	.banner__flying-div-small {display: none;}

	.banner__flying-div-big {display: none;}

	.banner__flying-curly-brace {display: none;}

	.banner__flying-sharp {display: none;}

	.banner__flying-lessmore {display: none;}
	
}

@media (max-width: 760px) {

	.main-subcontainer {flex-wrap: wrap-reverse;}

	.phone-number-link {
		margin-right: 40px;
		font-size: 18px;
	}

	.header-btn {display: none;}

	.header-phone-icon {
		display: block;
		border: 1px solid #f54648;
		border-radius: 50%;
		padding: 2px 6px 2px 5px;
		margin-top: -4px;
	}

	.main-right {
		margin: 0 auto;
		text-align: center;
	}

	.main-left__name {
		padding: 0;
		width: 80%;
		margin: 0 auto 22px auto;
		font-size: 29px;
		line-height: 30px;		
	}

	.main-left__profession {
		font-size: 15px;
		line-height: 8px;
	}

	.main-left {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		margin-top: 11px;
		margin-left: 0;
		padding: 0;
	}

	.main-left__info-btn {
		margin: 0 auto;
		font-size: 17px;
	}

	.skills-block {width: 100%;}

	.footer__position {
		width: 45%;
		flex-wrap: wrap;
		justify-content: start;
		margin: 0 auto;
	}

	.footer__contacts {margin: 30px 0 0 0;}

	.footer-btn {
		width: 281px;
		height: 56px;
	}
	
	.social__links {margin: 49px auto 0 auto;}

	.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet  {
		width: 11px;
		height: 11px;
		margin: 0 8px;
	}

	.flying-sharp {
		top: 35%;
		left: 5vw;
	}

	.flying-div-big {
		top: 15%;
		left: 80vw;
	}
	
}

@media (max-width: 610px) {

	.image-of-men {width: 230px;}

	.skills-block {display: block;}

	.skills-block__item {margin: 0 auto;}

	.skills-block__item:nth-child(1) img {margin: 0 auto;}
	
	.skills-block__item:nth-child(1) p {
		padding-left: 0;
		line-height: 24px;
		margin: 14px auto 0 auto;
		width: 100%;
	}

	.skills-block__item:nth-child(2) {
		margin: 0 auto; 
		padding-bottom: 39px;
	}

	.skills-block__item:nth-child(2) img {
		margin: 0 auto; 
		padding-right: 10px;
	}

	.skills-block__item:nth-child(2) p {
		padding-left: 0;
		padding-right: 10px;
		line-height: 23px;
	}

	.skills-block__item:nth-child(3) {margin: 0 auto;}

	.skills-block__item:nth-child(3) img {margin: 0 auto;}

	.skills-block__item:nth-child(3) p {
		padding-left: 0;
		line-height: 23px;
		margin: 13px auto 0 auto;
		width: 80%;
	}

	.skills-block__item:nth-child(4) {margin: 0 auto;}

	.skills-block__item:nth-child(4) img {margin: 0 auto;}

	.skills-block__item:nth-child(4) p {
		padding-left: 0;
		line-height: 24px;
		margin: 14px auto 0 auto;
		width: 100%;
	}

	.swiper-container {width: 100%;}

	.footer__position {
		justify-content: start;
		width: 100%;
	}

	.phone-number-link {
		margin-right: 37px;
		letter-spacing: 0.3px;
	}

	.burger-icon {margin-left: 0px;}

	.main-right {
		margin-left: 55px;
		padding-top: 79px;
	}

	.main-left__name {width: 100%;}

	.services-item {padding-bottom: 47px;}

	.services-item:nth-child(2) {padding-bottom: 35px;}

	.services-item:nth-child(3) {padding-bottom: 49px;}

	.skills-block__item {width: 75%;}

	.footer__contacts {margin-top: 0px;}

	.contacts__address {
		padding-left: 12px; 
		line-height: 34px;
	}

	.footer__social {margin: 26px 0 0 0}

	.social__links {margin: 49px 0 0 0;}

	.nav-list {margin: 15px 20px 19px 0;}

	.banner {margin-bottom: 28px;}

	.popup {width: 300px;}

	.flying-div-small {top: 4%;}

	.flying-curly-brace {
		top: 5%;
		left: 80vw;}

	.flying-lessmore {font-size: 26px;}
}

